.env
/env/
/.vscode/

data/macrodata/
data/macrotechnical/
data/macrotechnicalfearandgreed/
data/preppeddata/
data/preppedconcatdata/
data/*/
data/*
Crypto/data/*
Crypto/data/*/
Stocks/data/*
Stocks/data/*/
__pycache__/

models/*